@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight : 400;
}

a {
    text-decoration: none;
    outline: 0;
    color: inherit;
}

ol, ul {
    list-style: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

img {
    vertical-align: top;
}
 .container {
    width: 1360px;
    margin: 0 auto;
}












